
.content-div {
  background: linear-gradient(305deg, #9FD8CB, #9FD8CB, #B2FFD6, #F8FFAE, #FFF697, #DDFC74, #B2EC5D);
  background-size: 600% 600%;
  animation: Animate3 60s ease infinite;
}

@keyframes Animate3 { 
  0%{background-position:0% 41%}
  50%{background-position:100% 60%}
  100%{background-position:0% 41%}
}
