
.content-div {
  background: #43C6AC;
  background: -webkit-linear-gradient(to left, #F8FFAE, #43C6AC); 
  background: linear-gradient(to left, #F8FFAE, #43C6AC);
  flex: 1 0 auto;
  padding-bottom: 50px;
}

/* .content-div {
  background: #2BC0E4;
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);
  background: linear-gradient(to right, #EAECC6, #2BC0E4); 
  
} */